@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.form-message {
  width: 100%;
  padding: 2% 8%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex(space-evenly, center);
  flex-direction: column;
  z-index: 1;
  font-size: 1.6rem;
  text-align: center;

  @include wide-mobile {
    font-size: 1.8rem;
  }

  @include tablet {
    width: auto;
    font-size: 2.2rem;
    padding: 2% 4%;
  }

  img {
    height: 150px;
    margin-bottom: 16px;

    @include tablet {
      height: 200px;
    }
  }

  h2 {
    @include wide-mobile {
      white-space: nowrap;
    }
  }

  .btn {
    -webkit-appearance: none;
  }
}

.form-message__success h2 {
  color: $success;
}

.form-message__error h2 {
  color: $error;
}
