* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-display: swap;
}

body {
  overflow-y: scroll;
}

html {
  //   min-height: 100vh;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

@import "../scss/preview.scss";
