.svg-container {
  width: calc(100% - 24px);
  height: 100%;
  position: absolute;
  z-index: 2;

  &__profile {
    width: 100%;
  }

  &__booking,
  &__contact {
    top: -1px;
  }

  svg {
    fill: white;
  }
}
