$wide-mobile-width: 550px;
$tablet-width: 812px;
$desktop-width: 1024px;
$ultra-wide-width: 1600px;

$btn-blue: #0375b4;
$powder-blue: #dfeef9;
$success: #4bb543;
$error: #ff0033;
$gray-heading: #f2f2f2;
$dark-gray: rgba(0, 0, 0, 0.75);
$ink: #8eaebd;
$shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.5);
// $charcoal: #36454f;
// $charcoal: #4C484F;
$charcoal: #333134;
$dark: #1e2021;
